Backup/IndignadoFramework.UI.Mvc4/Service References/FrontOffice/FrontOfficeService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://serena-yeoh//LayerSample/Expense/2007/08" elementFormDefault="qualified" targetNamespace="http://serena-yeoh//LayerSample/Expense/2007/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/FrontOfficeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" />
  <xs:import schemaLocation="http://localhost:8000/FrontOfficeService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AgregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="espus" nillable="true" type="q1:EspecificacionUsuario" />
        <xs:element minOccurs="0" name="nomMov" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categs" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="AgregarUsuarioResult" nillable="true" type="q3:EspecificacionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecificacionUsuarioXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecificacionUsuarioXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerEspecificacionUsuarioXIdResult" nillable="true" type="q4:EspecificacionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecificacionUsuarioXMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="membership" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMov" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEspecificacionUsuarioXMembershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerEspecificacionUsuarioXMembershipResult" nillable="true" type="q5:EspecificacionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEspecificacionUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="espus" nillable="true" type="q6:EspecificacionUsuario" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categs" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEspecificacionUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuentesDatosMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMov" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuentesDatosMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="GetFuentesDatosMovimientoResult" nillable="true" type="q8:ArrayOfFuenteWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriaXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConvocatoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriaXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerConvocatoriaXIdResult" nillable="true" type="q9:Convocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarConvocatoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="convocatoria" nillable="true" type="q10:Convocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarConvocatoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="AgregarConvocatoriaResult" nillable="true" type="q11:Convocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarAsistenciaConvocatoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConvocatoria" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarAsistenciaConvocatoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmarAsistenciaConvocatoriaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriasMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMovimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriasMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerConvocatoriasMovimientoResult" nillable="true" type="q12:ArrayOfConvocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriasPaginando">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConvocatoriasPaginandoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerConvocatoriasPaginandoResult" nillable="true" type="q13:ArrayOfConvocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasTematicas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasTematicasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerCategoriasTematicasResult" nillable="true" type="q14:ArrayOfCategoriaTematica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmoAsistenciaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConvocatoria" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmoAsistenciaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmoAsistenciaUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerContenidoXIdResult" nillable="true" type="q15:Contenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompartirContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="contenido" nillable="true" type="q16:Contenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompartirContenidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInadecuado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsr" type="xs:int" />
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInadecuadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeGusta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsr" type="xs:int" />
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMeGustaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpcionesContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsr" type="xs:int" />
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpcionesContenidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="GetOpcionesContenidoResult" nillable="true" type="q17:OpcionesContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoMasRankeado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMovimiento" type="xs:int" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoMasRankeadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerContenidoMasRankeadoResult" nillable="true" type="q18:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoMasReciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMovimiento" type="xs:int" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoMasRecienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IndignadoFramework.Entities" minOccurs="0" name="ObtenerContenidoMasRecienteResult" nillable="true" type="q19:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>